<html lang="en">  
    <head>  
        <title>Login Page</title>  
    </head>  
    <body>  
        <form action="save" method="post">  
            <table>  
                <tr>  
                    <td><label for="Email">User Id</label></td>  
                    <td><input type="text" name="email"></input></td>  
                </tr>  
                <tr>  
                    <td><label for="password">Password</label></td>  
                    <td><input type="password" name="password"></input></td>  
                </tr>  
                <tr>  
                    <td></td>  
                    <td><input type="Submit" value="Submit"></input></td> 
                    <td></td> 
                </tr>  
            </table>  
        </form>  
    </body>  
</html>  