<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
  <head>
    <title >Suggestions</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  </head>
  <body>
	<table>
		<tr>
			<th>Name</th>
			<th>Email</th>
		</tr>
		<tr th:each="suggestion : ${userDto} ">
		 <td th:text="${suggestion.name}">Name</td>
	    <td th:text="${suggestion.email}">Name</td>
		</tr>
	</table>
  </body>
</html>  